* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #dbdbdb26 !important;
}
.app {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  justify-content: space-between;
}
.navbar {
  background-color: #262626;
  padding: 10px 5px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
  position: sticky;
  top: 0;
}
.title {
  color: beige;
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 15px;
  margin-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.nav-list {
  padding: 10px 0;
  display: flex;
  list-style-type: none;
  column-gap: 10px;
}

.link-style {
  text-decoration: none;
  color: beige;
  font-weight: 600;
  font-size: 12px;
}
.link-style:hover {
  text-shadow: 1px 0px 1px rgba(245, 245, 220, 0.57);
  color: #00b2ff;
}

/*Main sayfa CSS*/
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
}
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner-img {
  width: 90%;
  object-fit: cover;
  height: 300px;
}
.banner-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
.banner-title {
  font-size: 24px;
  font-weight: 600;
  color: #00b2ff;
  text-transform: uppercase;
}

.btn {
  width: 200px;
  padding: 8px;
  border-radius: 15px;
  border: none;
  background-color: #00b2ff;
  color: beige;
  text-transform: uppercase;
}
.btn:hover {
  cursor: pointer;
}
.card-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px auto;
  align-items: center;
}
.card {
  padding: 40px;
  width: 80%;
  display: flex;
  flex-direction: row;
  gap: 40px;
  box-shadow: 1px 2px 23px -15px rgba(0, 0, 0, 0.7);
}

.title-style {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
}

.desc-style {
  font-size: 15px;
  color: #000000cd;
  margin-top: 5px;
}

/*FORM CSS*/
.form-style {
  background-color: #262626;
  padding: 10px;
  margin-top: 20px;
}
h1 {
  color: beige;
  font-size: 18px;
  margin-bottom: 10px;
  font-family: "Nunito Sans", sans-serif;
  text-align: center;
}
.footer-container {
  display: flex;
  flex-direction: column-reverse;
}
.footer {
  padding: 10px;
}

.footer-content {
  display: flex;
  flex-direction: column;
}

.footer-address,
.footer-phone {
  margin-bottom: 10px;
  color: beige;
  font-size: 12px;
}
h4 {
  font-size: 12px;
  margin-bottom: 10px;
  color: beige;
}

.socialconnect {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}
.form-card {
  background-color: #262626;
  color: beige;
  padding: 5px;
}

label {
  color: beige;
  display: block;
  margin-bottom: 5px;
  font-size: 9px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  border: none;
  width: 90%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="text"],
input[type="email"],
textarea:focus {
  outline: none;
  box-shadow: none;
}
button[type="submit"] {
  background-color: #00b2ff;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #007bff;
}

/*Ekran boyutu  degisim ayarlari*/

@media screen and (min-width: 900px) {
  .navbar {
    padding: 20px 10%;
  }
  .banner-img {
    width: 80%;
    object-fit: cover;
    height: 300px;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 0 10px;
  }

  .card-list {
    display: grid;
    gap: 20px;
    margin: 20px auto;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .card {
    width: 350px;
    height: 95px;
    padding: 40px;
    align-items: center;
    box-shadow: rgba(168, 168, 168, 0.903) 0px 1px 1px;
  }

  .desc-style {
    font-size: 12px;
    margin-top: 5px;
  }

  .form-style {
    background-color: #262626;
    padding: 10px;
    margin-top: 20px;
  }

  .form-card {
    background-color: aqua;
    background-color: #262626;
    color: beige;

    padding: 5px;
  }
  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  h1 {
    font-size: 22px;
    margin-bottom: 10px;
    text-align: center;
  }

  label {
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: bold;
  }
}
